section[id^="sec-"] img {
    border-radius: 1%;
    border: 1px solid;
    box-shadow: 2px 2px 4px #888888;
}

h1 {
    text-align: center !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}